name: Update Quote

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update_quote:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Update Quote
        run: python .github/scripts/quote.py

      - name: Commit and Push Changes
        run: |
          git config --local user.email "81718060+sakshiagrwal@users.noreply.github.com"
          git config --local user.name "Sakshi Aggarwal"
          git add README.md
          git commit -s -m "Updating quote"
          git push
