name: Update Quote

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update_quote:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Get Random Quote
        id: quote
        run: |
          quote_data=$(curl -s "https://api.quotable.io/random")
          echo "QUOTE=$(echo "$quote_data" | jq -r '.content')" >> $GITHUB_ENV
          echo "AUTHOR=$(echo "$quote_data" | jq -r '.author')" >> $GITHUB_ENV

      - name: Update README File
        run: |
          sed -i "s/^#### :books: .*/#### :books: _${QUOTE}_/" README.md
          sed -i "s/^###### :pencil2: .*/###### :pencil2: _by ${AUTHOR}_/" README.md

      - name: Commit Changes
        run: |
          git config --local user.email "81718060+sakshiagrwal@users.noreply.github.com"
          git config --local user.name "Sakshi Aggarwal"
          git add README.md
          git commit -s -m "Update quote" -m "This commit updates the quote and author in the README file."

      - name: Push changes
        run: git push origin main
